body {
  background: url(./Pics/background.jpg);
  background-repeat: repeat-x;
  background-position: top;
}
#wrapper {
  width: 960px;
  padding: 0px 10px;
  margin: 0 auto;
}
#site-title {
  float: left;
}
#site-title h1 a {
  background: url(./Pics/templatemo_logo.png) no-repeat;
}
header {
  color: #333;
  font-size: 2rem;
  font-weight: normal;
  background-color: blue;
}
header img {
  position: relative;
  width: 13%;
  display: inline-block;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
header h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
